@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0; /* 밝은 배경색 */
  color: #333; /* 어두운 텍스트 색상 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  margin: 0;
}

.movie-container {
  margin: 40px 0;
}

.movie-container select {
  background-color: #444; /* 어두운 배경색 */
  color: #fff; /* 밝은 텍스트 색상 */
  border: 0;
  border-radius: 5px;
  font-size: 18px;
  margin-left: 10px;
  padding: 10px 20px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.container {
  perspective: 1000px;
  margin-bottom: 40px;
}

.seat {
  background-color: #444451;
  height: 20px;
  width: 25px;
  margin: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.selected {
  background-color: #077c14;
}

.seat.occupied {
  background-color: #999; /* 어두운 색상으로 변경 */
}

.seat:nth-of-type(4n+2) {
  margin-right: 18px;
}

.seat:nth-of-type(4n+3) {
  margin-left: 18px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.3);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
}

.showcase li small {
  margin-left: 5px;
}

.screen {
  background-color: #fff;
  height: 100px;
  width: 100%;
  margin: 25px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.7); /* 어두운 그림자 */
}

.row {
  display: flex;
}

p.text span {
  color: #0a0a0a;
}
